# --- Launcher language configuration ---
LANGUAGE=ENG

# --- Project Name ---
PROJECT_NAME= your-project-name

# --- Environment Profiles ---
BACK_PROFILE=prod

# --- SSH Connection Alias ---
ALIAS_SSH_CONNECTION=remote-server-alias

# --- Source Code Local Paths (Directory Structure) ---
BACK_DIR=../project-backend-source
FRONT_DIR=../project-frontend-source

# --- Infisical Project ID ---
INFISICAL_PROJECT_ID=your-infisical-project-id